<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Username: {{ user.username }}</h1>
<img height="200" src="{{ user.profile.image.url }}" alt="">

{% if user.is_authenticated and user.is_teacher %}
      <h3>Teacher</h3>
{% elif user.is_authenticated and user.is_doctor %}
 <h4>Doctor</h4>
    {% else %}
      <h4>student</h4>
    {% endif %}
</body>
</html>